.header{
    display: flex;
    align-items: center;
    background: #004a9f;
    color: white;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

mat-icon {
    margin-right: 8px;
}


/* .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
} */